$color-1: rgb(93, 93, 93);
$color-2: rgb(247, 247, 247);
$color-3: linear-gradient(130deg, rgba(42,69,48,1), rgba(11,13,10,1) 70.71%);
$color-4: rgb(210, 143, 94);
$color-5: rgb(218, 232, 228);
$color-6: rgb(86, 120, 96);
$color-7: linear-gradient(130deg, rgba(209,143,94,1), rgb(132, 100, 9) 70.71%);
$color-8: linear-gradient(0deg, rgba(42,69,48,1), rgba(11,13,10,1) 70.71%);