$color-1: rgb(93, 93, 93);
$color-2: rgb(247, 247, 247);
$color-3: linear-gradient(130deg, rgba(60,155,228,1), rgba(11,13,10,1) 70.71%);
$color-4: #3c9be4;
$color-5: rgba(255, 255, 255, 0.8);
$color-6: rgb(86, 120, 96);
$color-7: linear-gradient(130deg, rgb(211, 163, 126), rgb(197, 141, 62) 70.71%);
$color-8: linear-gradient(0deg, rgba(60,155,228,1), rgba(11,13,10,1) 70.71%);
$color-9: rgb(211, 163, 126);
$color-10: linear-gradient(144deg, rgb(197, 141, 62), rgb(60, 155, 228) 70.71%);
$color-11: linear-gradient(180deg, rgb(0, 0, 0, 0.9), rgba(0, 0, 0, 0.2) 10%);
$color-12: rgb(162, 255, 0);
$color-13: #080808;
$color-14: #000000;

// $color-1: rgb(93, 93, 93);
// $color-2: rgb(82, 82, 82);
// $color-3: linear-gradient(130deg, rgba(60,155,228,1), rgba(11,13,10,1) 70.71%);
// $color-4: rgb(60, 155, 228);
// $color-5: rgba(255, 255, 255, 0.8);
// $color-6: rgb(86, 120, 96);
// $color-7: linear-gradient(130deg, rgb(211, 163, 126), rgb(197, 141, 62) 70.71%);
// $color-8: linear-gradient(0deg, rgba(60,155,228,1), rgba(11,13,10,1) 70.71%);
// $color-9: rgb(162, 255, 0);
// $color-10: linear-gradient(144deg, rgb(197, 141, 62), rgb(60, 155, 228) 70.71%);
// $color-11: linear-gradient(180deg, rgb(0, 0, 0, 0.9), rgba(0, 0, 0, 0.2) 10%);
// $color-12: rgb(255, 255, 255);
// $color-13: #f0f0f0;