.application{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
    margin: -8px;
    background-image: url(../img/background2.jpg);
    background-position-x: 0%;
    background-position-y: 40%;
    background-size: 100%;
    background-attachment: fixed;
}

@media only screen and (max-width: 1580px){
    .application{
        background-size: 100%;
    }
}

@media only screen and (max-width: 1280px){
    .application{
        background-size: 100%;
    }
}

@media only screen and (max-width: 880px){
    .application{
        background-size: 200%;
    }
}