.application{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
    margin: auto;
    margin: -8px;
    min-height: 100vh;
    background: $color-14;
    overflow: hidden;
}

@media only screen and (max-width: 800px){
    .application{
        background: $color-14;
    }


}