.erreur404Box{
    width: 100%;
    min-height: 55vh;
    margin: auto;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background: url(../img/background4.jpg);
    background-size: cover;
    h2{
        color: black;
        text-shadow: $color-9 5px 5px 6px;
        font-size: 130px;
        font-family: roboting;
        margin-top: 120px;
    }
    .backBox{
        height: 100px;
        display: flex;
        margin-bottom: 80px;
        a{
            margin: auto;
            color: white;
            text-decoration: none;
            font-family: montserrat;
            font-size: 25px;
            margin: auto;
            background: $color-7;
            border-radius: 5px;
            transition-duration: 200ms;
            padding: 10px;
            box-shadow: 1px 1px 3px rgb(85, 85, 85);
            &:hover{
                transform: scale(1.03);
                box-shadow: 2px 2px 6px rgb(141, 141, 141);
            }
        }
    }   
}

@media only screen and (max-width: 800px){
    .erreur404Box{
        width: 100%;
        background: url(../img/background4.jpg);
        background-size: cover;
        border-radius: 0px;
        max-width: 1200px;
        min-height: 300px;
        margin: auto;
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        h2{
            color: black;
            font-size: 80px;
            text-shadow: $color-9 5px 5px 5px;
            font-family: roboting;
            margin-top: 50px;
        }
        .backBox{
            height: 100px;
            display: flex;
            margin-top: 0px;
            a{
                margin: auto;
                color: white;
                text-decoration: none;
                font-family: montserrat;
                font-size: 16px;
                margin: auto;
                background: $color-7;
                border-radius: 10px;
                transition-duration: 200ms;
                padding: 15px;
                box-shadow: 1px 1px 3px rgb(85, 85, 85);
                &:hover{
                    transform: scale(1.03);
                    box-shadow: 2px 2px 6px rgb(141, 141, 141);
                }
            }
        }   
    }
}

