@import "../Utils/mixines";

.Parcours{
    width: 90%;
    max-width: 1200px;
    margin: auto;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    .ParcoursBox{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: flex-start;
        margin: auto;
        margin-top: 30px;
        width: 100%;
        max-width: 1200px;
        background-color: $color-5;
        border: solid black 5px;
        border-radius: 10px;
        font-family: "montserrat";
        h2{
            width: 100%;
            text-align: center;
            margin: auto;
            font-family: 'montserrat';
            font-size: 35px;
            padding: 25px 0px 0px 0px;
            margin-bottom: 30px;
        }
        .card{
            width: 45%;
            height: 45%;
            margin-bottom: 50px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            h3{
                font-size: 25px;
            }
            p{
                font-size: 16px;
                line-height: 22px;
                text-align: center;
            }
            img{
                margin: auto;
                height: 50px;
            }
            a{
                @include mixinButtonGold;
            }
        }
    }
    .FormBox{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        margin: auto;
        margin-top: 30px;
        width: 100%;
        max-width: 1200px;
        background-color: $color-5;
        border: solid black 5px;
        border-radius: 10px;
        font-family: "montserrat";
        h2{
            width: 100%;
            text-align: center;
            margin: auto;
            font-family: 'montserrat';
            font-size: 35px;
            padding: 25px 0px 0px 0px;
            margin-bottom: 30px;
        }
        .card{
            width: 90%;
            height: auto;
            margin-bottom: 20px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            h3{
                font-size: 22px;

            }
            p{
                font-size: 16px;
                line-height: 20px;
                margin: 5px
            }
            a{
                @include mixinButtonGold;
                margin: auto;
                margin-bottom: 0;
                margin-top: 15px;
            }
        }
    }
}

.ParcoursMini{
    background-color: $color-5;
    border: solid black 5px;
    width: 90%;
    max-width: 1200px;
    margin: auto;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    font-family: "montserrat";
    animation: form 1000ms ease-in forwards;
    h2{
        width: auto;
        max-width: 1200px;
        text-align: center;
        font-family: 'montserrat';
        font-size: 35px;
    }
    p{
        width: 90%;
        margin: auto;
        font-size: 20px;
        line-height: 30px;
        margin-bottom: 20px;
        color: $color-7;
    }
    .toParcours{
        margin-top: 20px;
        height: 50px;
        a{
            @include mixinButtonGreen;
        }
        a:hover{
            transform: scale(1.04);
        }
    }
}

@keyframes form {
    0%{
        translate: 600%;
    }
    92%{
        translate: -10%
    }
    100%{
        translate: 0.4%;
    }
}

@media only screen and (max-width: 800px){
    .ParcoursMini{
        background-color: $color-5;
        width: 90%;
        margin-top: 30px;
        h2{
            width: 100%;
            max-width: 1200px;
            text-align: center;
            font-family: 'montserrat';
            font-size: 25px;
            line-height: 35px;
        }
        p{
            width: 90%;
            margin: auto;
            font-size: 16px;
            line-height: 25px;
            margin-bottom: 30px;
        }
        .toParcours{
            margin-top: 20px;
            height: 50px;
            a{
                @include mixinButtonGreenMini;
            }
            a:hover{
                transform: scale(1.04);
            }
        }
    }
    .Parcours{
        width: 100%;
        max-width: 1200px;
        margin: auto;
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .ParcoursBox{
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: center;
            margin: auto;
            margin-top: 30px;
            margin-bottom: 40px;
            width: 90%;
            max-width: 1200px;
            background-color: $color-5;
            border: solid black 5px;
            border-radius: 10px;
            font-family: "montserrat";
            h2{
                width: 100%;
                text-align: center;
                margin: auto;
                font-family: 'montserrat';
                font-size: 35px;
                padding: 25px 0px 0px 0px;
                margin-bottom: 30px;
            }
            .card{
                width: 90%;
                height: auto;
                margin-bottom: 50px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                border-bottom: 2px solid darkgray;
                h3{
                    font-size: 25px;
                }
                p{
                    font-size: 16px;
                    line-height: 22px;
                    text-align: center;
                }
                img{
                    margin: auto;
                    height: 40px;
                }
                a{
                    @include mixinButtonGold;
                }
            }
        }
        .FormBox{
            width: 90%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: flex-start;
            margin: auto;
            margin-top: 0px;
            margin-bottom: 20px;
            border-radius: 10px;
            
            h2{
                width: 100%;
                text-align: center;
                margin: auto;
                font-family: 'montserrat';
                font-size: 30px;
                padding: 25px 0px 0px 0px;
                margin-bottom: 30px;
            }
            .card{
                width: 90%;
                margin: auto;
                margin-bottom: 10px;
                padding-bottom: 20px;
                border-bottom: 2px solid darkgray;
                h3{
                    font-size: 20px;
                }
                p{
                    font-size: 16px;
                    line-height: 22px;
                }
            }
        }
    }
}