
.content{
    width: 100%;
    margin: auto;
    margin-top: 30px;
    background-image: url(../img/sableBG.webp);
    background-size: cover;
    background-position-y: 80%;
    .ForGradient{
        padding-top: 0px;
        padding-bottom: 50px;
        .lastProdBox {
            margin: auto;
            width: 90%;
            max-width: 1200px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            .titlePart{
                width: 100%;
                display: flex;
                margin-bottom: 30px;
                color: white;
                h2{
                    text-align: center;
                    margin: auto;
                    font-family: "montserrat";
                    font-weight: 600;
                    font-size: 50px;
                    padding: 25px 0px 0px 0px;
                }
            }
            .contenu{
                width: 32%;
                margin: auto;
                margin-bottom: 50px;
                min-width: 350px;
                height: 450px;
                transition-duration: 200ms;
                a{
                    text-decoration: none;
                }
                .lastprod{
                    max-width: 450px;
                    height: 90%;
                    transition-duration: 200ms;
                    animation: lastprod 500ms;
                    animation-fill-mode: forwards;
                    display: flex;
                    opacity: 0;
                    flex-direction: column;
                    justify-content: space-between;
                    margin: 20px;
                    margin-bottom: 50px;
                    background-color: rgba($color: #ffffff, $alpha: 1);
                    
                    .logobox {
                        width: 100%;
                        height: 80%;
                        margin: auto;
                        margin-top: 0px;
                        padding: 0px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        img {
                            width: 60%;
                            height: auto;
                            margin-bottom: 0;
                        }
                    }
                    .textpart {
                        width: 100%;
                        color: $color-1;
                        font-weight: 600;
                        height: 20%;
                        padding: 0px;
                        display: flex;
                        margin: 0;
                        margin-bottom: 50px;
                        border-radius: 0px 0px 0px 0px;
                        flex-direction: column;
                        justify-content: center;
                        align-items: flex-start;
                        font-family: 'montserrat';
                        font-weight: 500;
                        font-size: 18px;
                        p{
                            text-align: center;
                            word-wrap: normal;
                            margin: auto;
                            margin-top: 50px;
                            width: 90%;
                        }
                    }
                    .moreOpt{
                        width: 100%;
                        display: flex;
                        justify-content: space-between;
                        align-items: flex-end;
                        .gitLink{
                            border-radius: 0;
                            font-family: 'montserrat';
                            font-size: 50px;
                            padding: 10px;
                            margin: 0px 0px 0px 0px;
                            height: 50px;
                            color: $color-5;
                            background: $color-4;
                            :hover{
                                color: $color-1;
                            }
                        }
                        .fa-plus{
                            color: $color-2;
                            background: $color-4;
                            font-size: 30px;
                            padding: 10px;
                            border-radius: 0px;
                            margin-left: 0px;
                            margin-bottom: 0px;
                            transition-duration: 200ms;
                        }
                    }
                }
                .lastprodScroll{
                    opacity: 0;
                }
                
            }
            .contenu:hover{
                transform: scale(1.01);
            }
            
                #lastprod1{
                    animation-delay: 200ms;
                }
                #lastprod2{
                    animation-delay: 300ms;
                }
                #lastprod3{
                    animation-delay: 400ms;
                }
                #lastprod4{
                    animation-delay: 500ms;
                }
                #lastprod5{
                    animation-delay: 600ms;
                }
                #lastprod6{
                    animation-delay: 700ms;
                }
                @keyframes lastprod{
                    0%{
                        opacity: 0;
                    }
                    100%{
                        opacity: 1;
                    }
                }
        }
    }
}


@media only screen and (max-width: 800px) {
    .content{
        width: 100%;
        padding: 0;
        margin: auto;
        margin-top: 10px;
        background-size: cover;
        border-radius: 5px;
        .ForGradient{
            .lastProdBox {
                margin: auto;
                width: 100%;
                max-width: 1200px;
                display: flex;
                flex-direction: row;
                justify-content: center;
                flex-wrap: wrap;
                border: none;
                border-radius: 0;
                .titlePart{
                    width: 100%;
                    display: flex;
                    margin-bottom: 0px;
                    h2{
                        text-align: center;
                        margin: auto;
                        margin-bottom: 40px;
                        font-size: 40px;
                    }
                }
                .contenu{
                    width: 48%;
                    height: 320px;
                    margin: auto;
                    margin-bottom: 40px;
                    min-width: 20px;
                    display: flex;
                    flex-direction: row;
                    .lastprod {
                        width: 100%;
                        height: 100%;
                        border-radius: 5px;
                        transition-duration: 200ms;
                        animation: lastprod 500ms;
                        animation-fill-mode: forwards;
                        display: flex;
                        opacity: 0;
                        flex-direction: column;
                        justify-content: flex-start;
                        margin: auto;
                        margin-bottom: 0px;
                        overflow: hidden;
                        .logobox {
                            width: 100%;
                            height: 50%;
                            margin: auto;
                            margin-top: 20px;
                            padding: 0px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            background-color: transparent;
                            img {
                                width: 50%;
                                height: auto;
                                margin-bottom: 0;
                            }
                        }
                        .textpart {
                            width: 100%;
                            color: $color-1;
                            font-weight: 600;
                            height: 40%;
                            padding: 0px;
                            margin: 0;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            font-family: 'montserrat';
                            font-weight: 400;
                            p{
                                text-align: center;
                                margin: auto;
                                margin-top: 20px;
                                padding-bottom: 10px;
                                width: 95%;
                                height: 100%;
                            }
                        }
                    }
                }
            }
        }
    }
}