@keyframes menu {
    0% {
        color: $color-1;
        text-shadow: none;
    }

    5% {
        color: $color-4;
    }

    6% {
        color: $color-1;
        text-shadow: none;
    }

    7% {
        color: $color-4;
    }

    14% {
        color: $color-1;
        text-shadow: none;
    }

    15% {
        color: $color-4;
    }

    19% {
        color: $color-1;
        text-shadow: none;
    }

    20% {
        color: $color-4;
    }

    21% {
        color: $color-1;
        text-shadow: none;
    }

    59% {
        color: $color-1;
        text-shadow: none;
    }

    60% {
        color: $color-4;
    }

    61% {
        color: $color-4;
    }

    97% {
        color: $color-1;
        text-shadow: none;
    }

    100% {
        color: $color-4;
    }
}



.MenuBoxToFix{
    height: 50px;
    width: 100%;
    margin-top: 0px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    .toFixMenu{
        width: 100%;
        height: 0px;
        position: relative;
        opacity: 0;
    }
    .menuBox{
        width: 80%;
        max-width: 270px;
        height: 39px;
        margin-top: 0px;
        margin-bottom: 0px;
        justify-content: space-between;
        align-items: center;
        background-color: rgba($color: #000000, $alpha: 0.8);
        border-radius: 25px;
        display: flex;
        z-index: 1;
        position: relative;
        .box{
            width: 100%;
            .btn{
                border: none;
                width: 100%;
                background-color: transparent;
                .menuneonlogoBox{
                    width: 90%;
                    margin: auto;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: transparent;
                    .menuneonlogo{
                        width: 100%;
                        max-width: 300px;
                        height: 100%;
                        display: flex;
                        justify-content: space-around;
                        background-color: transparent;
                        align-items: center;
                        .linkActive{
                                color: $color-4;
                                transition-duration: 300ms;
                            }
                        
                        .link{
                            color: $color-2;
                            transition-duration: 300ms;
                            :hover{
                                color: $color-4;
                                transition-duration: 300ms;
                            }
                        }
                        .btnMenu{
                            background-color: transparent;
                            color: $color-2;
                            font-size: 25px;
                            border: none;
                            :hover{
                                color: $color-4;
                                transition-duration: 300ms;
                            }
                        }
                    }
                }
            }
        }
        
    }
    .menuBoxFixed{
        width: 80%;
        max-width: 270px;
        height: 39px;
        margin: auto;
        margin-top: -270px;
        margin-bottom: 0px;
        justify-content: space-between;
        align-items: center;
        background-color: rgba($color: #000000, $alpha: 0.8);
        border-radius: 25px;
        display: flex;
        z-index: 1;
        position: fixed;
        .box{
            width: 100%;
            .btn{
                border: none;
                width: 100%;
                background-color: transparent;
                .menuneonlogoBox{
                    width: 90%;
                    margin: auto;
                    display: flex;
                    justify-content: center;
                    background-color: transparent;
                    .menuneonlogoclose{
                        display: none;
                    }
                    .menuneonlogo{
                        width: 100%;
                        max-width: 400px;
                        height: 49px;
                        display: flex;
                        justify-content: space-around;
                        background-color: transparent;
                        align-items: center;
                        font-size: 25px;
                        .linkActive{
                                color: $color-4;
                                font-size: 25px;
                        }
                        .link{
                            color: $color-2;
                            font-size: 25px;
                            :hover{
                                color: $color-4;
                                transition-duration: 300ms;
                            }                          
                            
                        }
                        .btnMenu{
                            background-color: transparent;
                            color: $color-2;
                            border: none;
                            font-size: 25px;
                            :hover{
                                color: $color-4;
                                transition-duration: 300ms;
                            }
                        }
                    }
                }
            }
        }
}

    .bisMenuOpen {
        width: 100%;
        max-width: 250px;
        height: 39px;
        margin: auto;
        margin-top: 1px;
        margin-bottom: 1px;
        justify-content: center;
        align-items: center;
        background-color: transparent;
        border-radius: 25px;
        display: flex;
        align-items: center;
        z-index: 1;
        span{
            width: 33%;
            list-style-type: none;
            text-align: center;
            margin: 0px;
            padding: 0px;
            .link{
                font-family: 'montserrat';
                text-decoration: none;
                text-align: center;
                margin: auto;
                color: white;
                width: 100%;
                height: 100%;
                font-size: 20px;
                transition-duration: 300ms;
                &:hover {
                    color: $color-4;
                    transition-duration: 300ms;
                }
            }
            .linkActive{
                font-family: 'montserrat';
                text-decoration: none;
                margin: auto;
                color: $color-4;
                width: 100%;
                height: 100%;
                font-size: 20px;
                transition-duration: 300ms;
                &:hover {
                    color: $color-4;
                    transition-duration: 300ms;
                }
                
            }
            i{
                font-size: 30px;
                transition-duration: 300ms;
                color: white;
                &:hover {
                    color: $color-4;
                    transition-duration: 300ms;
                }
            }
        }
    }
}

@keyframes bisMenuOpen {
    0% {
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@media only screen and (max-width: 800px) {
    .MenuBoxToFix{
        height: 100px;
        width: 100%;
        margin-top: 10px;
        margin-bottom: -40px;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        background-color: transparent;
        .toFixMenu{
            width: 100%;
            height: 0px;
            position: relative;
            opacity: 0;
            background-color: transparent;
        }
        .menuBox{
            width: 70%;
            max-width: 300px;
            height: 49px;
            margin-top: -60px;
            margin-bottom: 0px;
            justify-content: space-between;
            align-items: center;
            background-color: transparent;
            border-radius: 25px;
            display: flex;
            z-index: 1;
            position: relative;
            .box{
                width: 100%;
                .btn{
                    border: none;
                    width: 100%;
                    background-color: transparent;
                    .menuneonlogoBox{
                        width: 90%;
                        margin: auto;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background-color: transparent;
                        .menuneonlogo{
                            width: 100%;
                            max-width: 400px;
                            height: 100%;
                            display: flex;
                            justify-content: space-around;
                            background-color: transparent;
                            align-items: center;
                            .linkActive{
                                    color: $color-4;
                                    transition-duration: 300ms;
                                }
                            
                            .link{
                                color: $color-2;
                                transition-duration: 300ms;
                                :hover{
                                    color: $color-4;
                                    transition-duration: 300ms;
                                }
                            }
                            .btnMenu{
                                background-color: transparent;
                                color: $color-2;
                                font-size: 25px;
                                border: none;
                                :hover{
                                    color: $color-4;
                                    transition-duration: 300ms;
                                }
                            }
                        }
                    }
                }
            }
            
        }
        .menuBoxFixed{
            width: 70%;
            max-width: 300px;
            height: 49px;
            margin: auto;
            margin-top: -258px;
            margin-bottom: 0px;
            justify-content: space-between;
            align-items: center;
            background-color: rgba($color: #000000, $alpha: 0.8);
            border-radius: 25px;
            display: flex;
            z-index: 1;
            position: fixed;
            .box{
                width: 100%;
                .btn{
                    border: none;
                    width: 100%;
                    background-color: transparent;
                        .menuneonlogo{
                            width: 100%;
                            max-width: 400px;
                            height: 49px;
                            display: flex;
                            justify-content: space-around;
                            background-color: transparent;
                            align-items: center;
                            transition-duration: 300ms;
                            font-size: 25px;
                            .menuneonlogoBox{
                                width: 90%;
                                margin: auto;
                                display: flex;
                                justify-content: center;
                                background-color: transparent;
                                .menuneonlogoclose{
                                    display: none;
                                }
                            .linkActive{
                                    color: $color-4;
                                    font-size: 25px;
                                    width: 33%;
                            }
                            .link{
                                color: $color-2;
                                font-size: 25px;
                                width: 33%;
                                :hover{
                                    color: $color-4;
                                    transition-duration: 300ms;
                                }                          
                                
                            }
                            .btnMenu{
                                background-color: transparent;
                                color: $color-2;
                                border: none;
                                font-size: 25px;
                                width: 33%;
                                :hover{
                                    color: $color-4;
                                    transition-duration: 300ms;
                                }
                            }
                        }
                    }
                }
            }
        }
        .bisMenuOpen {
            width: 90%;
            max-width: 350px;
            height: 49px;
            margin: auto;
            margin-top: 1px;
            margin-bottom: 1px;
            justify-content: space-between;
            align-items: center;
            border-radius: 25px;
            display: flex;
            align-items: center;
            z-index: 1;
            span{
                width: 33%;
                list-style-type: none;
                text-align: center;
                margin: 0px;
                padding: 0px;
                animation: bisMenuOpen 200ms forwards;
                .link{
                    font-family: 'montserrat';
                    text-decoration: none;
                    margin: auto;
                    color: white;
                    width: 100%;
                    height: 100%;
                    font-size: 18px;
                    transition-duration: 300ms;
                    &:hover {
                        color: $color-4;
                        transition-duration: 300ms;
                    }
                }
                .linkActive{
                    font-family: 'montserrat';
                    text-decoration: none;
                    margin: auto;
                    color: $color-4;
                    width: 100%;
                    height: 100%;
                    font-size: 18px;
                    transition-duration: 300ms;
                    &:hover {
                        color: $color-4;
                        transition-duration: 300ms;
                    }
                    
                }
                i{
                    font-size: 30px;
                    transition-duration: 300ms;
                    color: white;
                    &:hover {
                        color: $color-4;
                        transition-duration: 300ms;
                    }
                }
            }
        }
    }
}
