@keyframes menu {
    0% {
        color: $color-1;
        text-shadow: none;
    }

    5% {
        color: $color-4;
    }

    6% {
        color: $color-1;
        text-shadow: none;
    }

    7% {
        color: $color-4;
    }

    14% {
        color: $color-1;
        text-shadow: none;
    }

    15% {
        color: $color-4;
    }

    19% {
        color: $color-1;
        text-shadow: none;
    }

    20% {
        color: $color-4;
    }

    21% {
        color: $color-1;
        text-shadow: none;
    }

    59% {
        color: $color-1;
        text-shadow: none;
    }

    60% {
        color: $color-4;
    }

    61% {
        color: $color-4;
    }

    97% {
        color: $color-1;
        text-shadow: none;
    }

    100% {
        color: $color-4;
    }
}

.menuBox{
    width: 80%;
    max-width: 500px;
    height: 49px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 0px;
    justify-content: space-between;
    align-items: center;
    background-color: rgba($color: #000000, $alpha: 0.8);
    border-radius: 25px;
    display: flex;
    z-index: 1;
    transition-duration: 300ms;
    position: relative;
    .box{
        width: 100%;
        .btn{
            border: none;
            width: 100%;
            background-color: transparent;
            .menuneonlogoBox{
                width: 80%;
                max-width: 500px;
                margin: auto;
                display: flex;
                justify-content: center;
                background-color: transparent;
                border-radius: 25px;
                .menuneonlogoclose{
                    display: none;
                }
                .menuneonlogo{
                    width: 100%;
                    max-width: 400px;
                    height: 49px;
                    display: flex;
                    justify-content: space-around;
                    background-color: transparent;
                    align-items: center;
                    transition-duration: 300ms;
                    animation: bisMenuOpen 2000ms forwards;
                    .linkActive{
                            color: $color-4;
                            transition-duration: 300ms;
                        }
                    }
                    .link{
                        color: $color-2;
                        transition-duration: 300ms;
                        :hover{
                            color: $color-4;
                            transition-duration: 300ms;
                        }
                    }
                    .btnMenu{
                        background-color: transparent;
                        color: $color-2;
                        font-size: 25px;
                        z-index: 2;
                        border: none;
                        animation: btnMenuOpen 500ms;
                        animation-fill-mode: forwards;
                        :hover{
                            animation: menu 500ms;
                            color: $color-4;
                        }
                    }
                }
            }
        }
    
}

.menuBoxFixed{
    width: 80%;
    max-width: 350px;
    height: 49px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 0px;
    justify-content: space-between;
    align-items: center;
    background-color: rgba($color: #000000, $alpha: 0.9);
    border-radius: 25px;
    display: flex;
    z-index: 1;
    transition-duration: 300ms;
    position: fixed;
    .box{
        width: 100%;
        .btn{
            border: none;
            width: 100%;
            background-color: transparent;
            .menuneonlogoBox{
                width: 80%;
                max-width: 500px;
                margin: auto;
                display: flex;
                justify-content: center;
                background-color: transparent;
                border-radius: 25px;
                .menuneonlogoclose{
                    display: none;
                }
                .menuneonlogo{
                    width: 100%;
                    max-width: 400px;
                    height: 49px;
                    display: flex;
                    justify-content: space-around;
                    background-color: transparent;
                    align-items: center;
                    transition-duration: 300ms;
                    animation: bisMenuOpen 2000ms forwards;
                    .linkActive{
                            color: $color-4;
                    }
                    .link{
                        color: $color-2;
                        :hover{
                            color: $color-4;
                            transition-duration: 300ms;
                        }                          
                        
                    }
                    .btnMenu{
                        background-color: transparent;
                        color: $color-2;
                        font-size: 25px;
                        z-index: 2;
                        border: none;
                        animation: btnMenuOpen 500ms;
                        animation-fill-mode: forwards;
                        :hover{
                            animation: menu 500ms;
                            color: $color-4;
                        }
                    }
                }
            }
        }
    }
}

.bisMenuOpen {
    width: 90%;
    max-width: 500px;
    height: 49px;
    margin: auto;
    margin-top: 1px;
    margin-bottom: 1px;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border-radius: 25px;
    display: flex;
    align-items: center;
    z-index: 1;
    transition-duration: 300ms;
    span{
        width: 33%;
        list-style-type: none;
        margin: 10px;
        padding: 0px;
        animation: bisMenuOpen 2000ms forwards;
        .link{
            font-family: 'montserrat';
            text-decoration: none;
            margin: auto;
            color: white;
            width: 100%;
            height: 100%;
            font-size: 20px;
            transition-duration: 300ms;
            &:hover {
                color: $color-4;
                transition-duration: 300ms;
            }
        }
        .linkActive{
            font-family: 'montserrat';
            text-decoration: none;
            margin: auto;
            color: $color-4;
            width: 100%;
            height: 100%;
            font-size: 20px;
            transition-duration: 300ms;
            &:hover {
                color: $color-4;
                transition-duration: 300ms;
            }
            
        }
        i{
            font-size: 30px;
            transition-duration: 300ms;
            color: white;
            &:hover {
                color: $color-4;
                transition-duration: 300ms;
            }
        }
    }
}

@keyframes bisMenuOpen {
    0% {
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@media only screen and (max-width: 800px) {
    .menuBox{
        width: 70%;
        height: 40px;
        .box{
            width: 100%;
            .btn{
                border: none;
                .menuneonlogoBox{
                    width: 80%;
                    .menuneonlogoclose{
                        display: none;
                    }
                    .menuneonlogo{
                        height: 40px;
                        .linkActive{
                            font-size: 20px;
                            }
                        }
                        .link{
                            font-size: 20px;
                        }
                        .btnMenu{
                            font-size: 20px;
                        }
                    }
                }
            }
    }
    .bisMenuOpen {
        width: 80%;
        max-width: 350px;
        height: 40px;
        margin: auto;
        margin-top: 1px;
        margin-bottom: 1px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: transparent;
        border-radius: 25px;
        z-index: 1;
        transition-duration: 300ms;
        span{
            width: 33%;
            list-style-type: none;
            margin: 0px;
            padding: 0px;
            animation: bisMenuOpen 2000ms forwards;
            .link{
                font-size: 16px;
                &:hover {
                    color: $color-4;
                    transition-duration: 300ms;
                }
            }
            .linkActive{
                font-size: 16px;
                &:hover {
                    color: $color-4;
                }
            }
            i{
                font-size: 25px;
                &:hover {
                    color: $color-4;
                    transition-duration: 300ms;
                }
            }
        }
    }
    .menuBoxFixed{
        width: 60%;
        max-width: 350px;
        height: 35px;
        margin: auto;
        margin-top: 10px;
        margin-bottom: 0px;
        justify-content: space-between;
        align-items: center;
        background-color: rgba($color: #000000, $alpha: 0.9);
        border-radius: 25px;
        display: flex;
        z-index: 1;
        transition-duration: 300ms;
        position: fixed;
        .box{
            width: 100%;
            .btn{
                border: none;
                width: 100%;
                background-color: transparent;
                .menuneonlogoBox{
                    width: 80%;
                    max-width: 500px;
                    margin: auto;
                    display: flex;
                    justify-content: center;
                    background-color: transparent;
                    border-radius: 25px;
                    .menuneonlogoclose{
                        display: none;
                    }
                    .menuneonlogo{
                        width: 100%;
                        max-width: 400px;
                        height: 35px;
                        display: flex;
                        justify-content: space-around;
                        background-color: transparent;
                        align-items: center;
                        transition-duration: 300ms;
                        animation: bisMenuOpen 2000ms forwards;
                        .linkActive{
                            font-size: 20px;
                            color: $color-4;
                        }
                        .link{
                            color: $color-2;
                            font-size: 20px;
                            :hover{
                                color: $color-4;
                                transition-duration: 300ms;
                            }                          
                            
                        }
                        .btnMenu{
                            background-color: transparent;
                            color: $color-2;
                            font-size: 20px;
                            z-index: 2;
                            border: none;
                            animation: btnMenuOpen 500ms;
                            animation-fill-mode: forwards;
                            :hover{
                                animation: menu 500ms;
                                color: $color-4;
                            }
                        }
                    }
                }
            }
        }
    }
}