@import "../Utils/variables";

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    position: initial;
    top: 0;
    left: 0;
    z-index: 1;
    .neonlogo {
        background-color: black;
        padding: 10px 0px 10px 0px;
        width: 100%;
        margin: 0px;
        margin-bottom: 0px;
        a{
            text-decoration: none;
            h1 {
                width: 100%;
                padding-top: 0px;
                margin: auto;
                margin-top: 0px;
                color: $color-9;
                font-family: "roboting";
                font-size: 50px;
            }
            
            .acch1 {
                margin: auto;
                color: $color-2;
                font-family: 'Courier New', Courier, monospace;
                font-size: 18px;
                margin-bottom: 10px;
            }
        }
    }
}



@keyframes menu {
    0% {
        color: $color-6;
        text-shadow: none;
    }

    5% {
        color: $color-4;
    }

    6% {
        color: $color-6;
        text-shadow: none;
    }

    7% {
        color: $color-4;
    }

    14% {
        color: $color-6;
        text-shadow: none;
    }

    15% {
        color: $color-4;
    }

    19% {
        color: $color-6;
        text-shadow: none;
    }

    20% {
        color: $color-4;
    }

    21% {
        color: $color-6;
        text-shadow: none;
    }

    59% {
        color: $color-6;
        text-shadow: none;
    }

    60% {
        color: $color-4;
    }

    61% {
        color: $color-4;
    }

    97% {
        color: $color-6;
        text-shadow: none;
    }

    100% {
        color: $color-4;
    }
}

#neonlogobox{
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 0px;
    padding: 0px;
    .menulogo{
        color: $color-2;
        font-size: 25px;
        z-index: 2;
    }
}




@media only screen and (max-width: 800px) {
    header {

        .neonlogo {
            padding: 10px 0px 20px 0px;
            a{
                text-decoration: none;
                h1 {
                    font-size: 30px;
                }
                .acch1 {
                    font-size: 12px;
                    margin-bottom: 0px;

                }
            }
        }
    }
}
