.presentation{
    margin-bottom: 0px;
    width: 100%;
    max-width: 1500px;
    margin: auto;
    margin-top: 30px;
    padding: 0px;
    padding-bottom: 0px;
    background-position-y: 10%;
    background-position-x: 200%;
    background-color: black;
    border-radius: 0px;
    opacity: 0;
    animation: lastProd 800ms forwards;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .titlePart{
        width: 30%;
        z-index: 2;
        h2{
            text-align: left;
            font-family: "montserrat";
            font-weight: 600;
            font-size: 50px;
            line-height: 80px;
            border-radius: 10px;
            padding: 10px;
            color: white;
            opacity: 0;
            animation: lastProd 800ms forwards;
            animation-delay: 400ms;
        }
    }
    .lastReal{
        width: 60%;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        background: url(../img/cahier.webp);
        background-size: 190%;
        background-position-x: 25%;
        border-radius: 10px;
        z-index: 1;
        .contentPart{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: center;
            width: 65%;
            .lastprodMini{
                padding: 0px;
                width: 50%;
                display: flex;
                margin-top: 50px;
                a{
                    width: 100%;
                    display: flex;
                    img{
                        margin: auto;
                        width: 70%;
                    }
                    :hover{
                        cursor: pointer;
                    }

                }
            }
        }
    }
}


@keyframes lastProd {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@media only screen and (max-width: 800px){
    .presentation{
        margin-bottom: 0px;
        width: 100%;
        max-width: 1500px;
        margin: auto;
        margin-top: 0px;
        padding: 0px;
        padding-bottom: 0px;
        background-color: black;
        border-radius: 0px;
        opacity: 0;
        animation: lastProd 800ms forwards;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .titlePart{
            width: 100%;
            z-index: 2;
            margin-bottom: -30px;
            h2{
                text-align: left;
                font-family: "montserrat";
                font-weight: 600;
                font-size: 40px;
                margin-left: 5px;
                line-height: 40px;
                border-radius: 10px;
                padding: 0px;
                color: white;
            }
        }
        .lastReal{
            width: 100%;
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;
            background: url(../img/cahier.webp);
            background-size: 190%;
            background-position-x: 25%;
            border-radius: 10px;
            z-index: 1;
            margin-top: -20px;
            .contentPart{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-around;
                align-items: center;
                width: 65%;
                margin-bottom: 20px;
                .lastprodMini{
                    padding: 0px;
                    width: 50%;
                    display: flex;
                    margin-top: 50px;
                    a{
                        width: 100%;
                        display: flex;
                        img{
                            margin: auto;
                            width: 70%;
                        }
                        :hover{
                            cursor: pointer;
                        }
    
                    }
                }
            }
        }
    }
}
