.presentation{
    margin: auto;
    margin-bottom: 0px;
    width: 100%;
    margin-top: 30px;
    .lastReal{
        width: 90%;
        margin: auto;
        max-width: 1200px;
        .titlePart{
            width: 100%;
            h2{
                text-align: center;
                font-family: "montserrat";
                font-weight: 900;
                font-size: 35px;
                border-radius: 10px;
                padding: 0px;
                color: black;
                margin-bottom: 0px;
                animation: lastProd 800ms ease-in;
            }
        }
        .contentPart{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: center;
            width: 100%;
            background-color: $color-5;
            border: solid black 5px;
            border-radius: 10px;
            animation: lastProd 1000ms ease-in forwards;
            .lastprodMini{
                padding: 0px;
                width: 26%;
                display: flex;
                a{
                    width: 100%;
                    display: flex;
                    img{
                        margin: auto;
                        width: 70%;
                        transition-duration: 300ms;
                    }
                    :hover{
                        cursor: pointer;
                    }

                }
            }
        }
    }
}


@keyframes lastProd {
    0%{
        translate: -600%;
    }
    92%{
        translate: 10%
    }
    100%{
        translate: 0%;
    }
}

@media only screen and (max-width: 800px){
    .presentation{
        margin-top: 30px;
        .lastReal{
            margin: auto;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-family: "montserrat";
            .contentPart{
                width: 90%;
                .titlePart{
                    margin-top: 0px;
                    width: 100%;
                    h2{
                        text-align: center;
                        font-family: montserrat;
                        font-weight: 900;
                        font-size: 25px;
                        border-radius: 10px;
                        padding-top: 25px;
                        color: black;
                        margin-top: 0;
                        margin-bottom: 20px;
                        animation: lastProd 800ms ease-in;
                    }
                }
                .lastprodMini{
                    width: 30%;
                    margin: 30px;
                    img{
                        width: 100%;
                        padding: 0px;
                        margin: auto;
                    }
                    :hover{
                        transform: scale(1);
                        cursor: pointer;
                    }
                }
            }
        }

    }
}