.missionBox{
    width: 100%;
    max-width: 1500px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(../img/background5.webp);
    background-size: cover;
    background-position-y: 40%;
    background-attachment: fixed;
    margin-top: 30px;
    .missionContenttrue{
        background-color: rgba($color: #000000, $alpha: 0.8);
        width: 100%;
        padding-top: 50px;
        padding-bottom: 50px;
        h3{
            width: 100%;
            max-width: 1200px;
            margin: auto;
            margin-bottom: 40px;
            font-family: "montserrat";
            font-size: 50px;
            font-weight: 600;
            color: $color-2;
            text-align: center;
            animation: lastProd 500ms forwards;
            animation-delay: 500ms;
            opacity: 0;
        }
        ul{
            width: 90%;
            max-width: 1200px;
            margin: auto;
            .li1{
                animation: lastProd 400ms forwards;
                animation-delay: 750ms;
                width: 100%;
                margin-bottom: 20px;
                line-height: 25px;
                font-size: 16px;
                font-family: "montserrat";
                color: $color-2;
                opacity: 0;
            }
            .li2{
                animation: lastProd 400ms forwards;
                animation-delay: 900ms;
                width: 90%;
                margin-bottom: 20px;
                line-height: 25px;
                font-size: 16px;
                font-family: "montserrat";
                color: $color-2;
                opacity: 0;
            }
            .li3{
                animation: lastProd 400ms forwards;
                animation-delay: 1050ms;
                width: 90%;
                margin-bottom: 20px;
                line-height: 25px;
                font-size: 16px;
                font-family: "montserrat";
                color: $color-2;
                opacity: 0;
            }
            .li4{
                animation: lastProd 400ms forwards;
                animation-delay: 1200ms;
                width: 90%;
                margin-bottom: 20px;
                line-height: 25px;
                font-size: 16px;
                font-family: "montserrat";
                color: $color-2;
                opacity: 0;
            }
        }
    }
    .missionContentfalse{
        background-color: rgba($color: #000000, $alpha: 0.8);
        width: 100%;
        padding-top: 50px;
        padding-bottom: 50px;
        h3{
            width: 100%;
            max-width: 1200px;
            margin: auto;
            margin-bottom: 40px;
            font-family: "montserrat";
            font-size: 50px;
            font-weight: 600;
            color: $color-2;
            text-align: center;
            opacity: 1;
        }
        ul{
            width: 90%;
            max-width: 1200px;
            margin: auto;
            
            .li4{
                width: 90%;
                margin-bottom: 20px;
                line-height: 25px;
                font-size: 16px;
                font-family: "montserrat";
                color: $color-2;
                opacity: 1;
            }
            .li3{
                width: 90%;
                margin-bottom: 20px;
                line-height: 25px;
                font-size: 16px;
                font-family: "montserrat";
                color: $color-2;
                opacity: 1;
            }
            .li2{
                width: 90%;
                margin-bottom: 20px;
                line-height: 25px;
                font-size: 16px;
                font-family: "montserrat";
                color: $color-2;
                opacity: 1;
            }
            .li1{
                width: 90%;
                margin-bottom: 20px;
                line-height: 25px;
                font-size: 16px;
                font-family: "montserrat";
                color: $color-2;
                opacity: 1;
            }
        }
    }
}

@keyframes lastProd {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes lastProdOff {
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}


@media only screen and (max-width: 800px){
    .missionBox{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background: url(../img/background5.webp);
        background-size: cover;
        background-position-x: 50%;
        margin-top: 30px;
        border-radius: 5px;
        .missionContenttrue{
            width: 100%;
            max-width: 1200px;
            padding-top: 30px;
            padding-bottom: 30px;
            h3{
                font-size: 40px;
                margin-bottom: 30px;
                font-family: "montserrat";
            }
            ul{
            
                .li1{
                    width: 95%;
                    margin-bottom: 20px;
                    line-height: 25px;
                    font-size: 16px;
                    font-family: "montserrat";
                    color: $color-2;
                    opacity: 0;
                }
                .li2{
                    width: 95%;
                    margin-bottom: 20px;
                    line-height: 25px;
                    font-size: 16px;
                    font-family: "montserrat";
                    color: $color-2;
                    opacity: 0;
                }
                .li3{
                    width: 95%;
                    margin-bottom: 20px;
                    line-height: 25px;
                    font-size: 16px;
                    font-family: "montserrat";
                    color: $color-2;
                    opacity: 0;
                }
                .li4{
                    width: 95%;
                    margin-bottom: 20px;
                    line-height: 25px;
                    font-size: 16px;
                    font-family: "montserrat";
                    color: $color-2;
                    opacity: 0;
            }
        }
    }
        .missionContentfalse{
            width: 100%;
            max-width: 1200px;
            padding-top: 30px;
            padding-bottom: 30px;
            h3{
                font-family: "montserrat";
                font-size: 40px;
                margin-bottom: 30px;
                opacity: 1;
            }
            ul{
            
                .li4{
                    animation: lastProdOff 150ms 150ms forwards;
                    width: 95%;
                }
                .li3{
                    animation: lastProdOff 150ms 300ms forwards;
                    width: 95%;
                }
                .li2{
                    animation: lastProdOff 150ms 450ms forwards;
                    width: 95%;
                }
                .li1{
                    animation: lastProdOff 150ms 600ms forwards;
                    width: 95%;
                }
            }
        }
    }
}