@import "sass/Layout/header";
@import "sass/Layout/footer";
@import "sass/Layout/collapse";
@import "sass/Layout/lastReal";
@import "sass/Pages/app";
@import "sass/Pages/contact";
@import "sass/Pages/parcours";
@import "sass/Pages/projets";
@import "sass/Pages/projet";
@import "sass/Pages/error";
@import "sass/Components/keyframes";
@import "sass/Layout/letter";
@import "sass/Layout/mission";
@import "sass/Layout/reco";
@import "sass/Utils/mixines";

@font-face {
    font-family: roboting;
    src: url(../fonts/Fasthand/Fasthand-Regular.ttf);
}
@font-face {
    font-family: montserrat;
    src: url(../fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
}

main{
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    padding: 0;
    margin: auto;
    overflow: hidden;
}